.allNewsSection h2{
    margin: 3% 42.5% 4% 42.5%;
    text-align: center;
    font-family: "Play";
    border-bottom: 2px solid #3188b5;
    width: 15%;
    transition: all 0.5s ease;
    border-radius: 5px;
    user-select: none;
}

.allNewsSection h2:hover {
    margin: 3% 35% 4% 35%;
    width: 30%;
}

.boxNews {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}